@media (pointer:none), (pointer:coarse) {
  #container { margin-left:0em; margin-right:0em;}
}
body { 
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: black; 
	color: white;
	text-align: center;
	font-family: verdana, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {background-color: #111111;}

p { 
	background: rgba(220, 220, 220, 0.75);
	padding:1em 10px 3em;
	color: 000000;
	text-align: justify;
}
	
p::first-line {
	color: 114488;
	font-weight: bold;
}
h1 { 
	margin-top: 1em;
	color: 305098 ;
	font-size: 4em;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-color: orange;
	text-decoration-thickness: 5px;
}
	
a { color: blue;}
a:hover {color: FF6622;}
.aPub { color: red;}
.aPub:hover {color: white;}

#container { 
	background-color: white;
	background-image: url("./files/seoMecanismBackgroundReady.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 1em;
	margin-left: 0em;
	margin-right: 0em;
	padding: 1em 2em 2em; 
}
	
#imgArticle {
	max-width: 70%;
	max-height: 70%;
}

.imgLogo {
	margin: auto;
	max-width: 100px;
	max-height: 100px;
}
#leftboxPub {
	float:left; 
	width:34%;
}
#middleboxPub{
	float:left; 
	width:32%;
	max-height:100%;
}
#rightboxPub{
	float:right;
	width:34%;
}

#imgArticle:hover {opacity:70%;}
#imgRankerfox {opacity:70%}
#imgRankerfox:hover {opacity:100%;}

.centered {
	text-align: center;
	margin: 1em 4em 1em;
}

.publicity {
	background:rgba(255, 150, 50, 0.75);
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
}